:root {
  --primary-blue: #1d4ed8;
  --dark-navy: #0f172a;
  --text-gray: #475569;
}

.home {
  position: relative;
  min-height: 90vh;
  padding-top: 120px;
  overflow: hidden;
  background: linear-gradient(135deg, #0f172a 0%, #0e6bff 100%);
}

/* Background Blurs */
.bg-blur-circle {
  position: absolute;
  z-index: 0;
  filter: blur(100px);
  border-radius: 50%;
  opacity: 0.15;
}

.bg-blur-circle.blue {
  width: 400px;
  height: 400px;
  background: var(--primary-blue);
  top: -100px;
  right: -50px;
}

.bg-blur-circle.light {
  width: 300px;
  height: 300px;
  background: #38bdf8;
  bottom: 10%;
  left: -50px;
}

.home-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.home-bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Layout */
.home-wrapper {
  position: relative;
  z-index: 2;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Left Content */
.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 4.25rem;
  font-weight: 800;
  color: whitesmoke;
  line-height: 1.1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, whitesmoke, whitesmoke);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content p {
  margin-top: 24px;
  font-size: 1.2rem;
  color: whitesmoke;
  line-height: 1.6;
  max-width: 500px;
}

/* Buttons */
.home-actions {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.primary-btn,
.secondary-btn {
  padding: 16px 32px;
  font-size: 1.05rem;
  font-weight: 600;
  /* background: white; */

  color: var(--dark-navy);
  background-color: #FE7062 ;

  border: 1px solid #e2e8f0;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn:hover,
.secondary-btn:hover {
  background: #f8fafc;
  border-color: var(--primary-blue);
  color: var(--primary-blue);
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 1024px) {
  .home-content h1 {
    font-size: 3rem;
  }

  .home-bg-image {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .home {
    padding-bottom: 60px;
  }

  .home-bg-image {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .home-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .home-actions {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .home-actions {
    flex-direction: column;
  }
}